@{
    ViewData["Title"] = "Access denied";
}

<div class="alert alert-warning mt-3">
    <h4 class="alert-heading">Access denied</h4>
    <p>You do not have permission to view this page.</p>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
</div>


