@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="mt-4">
    <span style="font-size: 16px;"
  ><strong>1. Giới thiệu</strong><br />Chính sách xử lý và bảo vệ thông tin cá
  nhân của khách hàng này ("Chính Sách Bảo Vệ Thông Tin Cá Nhân”) giải thích
  phương thức Công ty TNHH ABC Việt Nam (“Công Ty” hoặc “Chúng Tôi”) thu
  thập, xử lý, sử dụng, bảo vệ và chia sẻ thông tin cá nhân khi quý khách hàng
  (“Khách Hàng” hoặc “Bạn”) sử dụng website có tên miền https://localhost:5001/
  (“Website”) và ứng dụng di động ABC (“Ứng Dụng”), để mua sắm hoặc chia sẻ
  thông tin cá nhân của Bạn với Chúng Tôi. Chúng Tôi trân trọng quyền riêng tư
  của khách hàng và đánh giá cao sự tin tưởng của Bạn rằng Chúng Tôi sẽ tôn
  trọng quyền riêng tư của Bạn một cách cẩn trọng và đúng đắn.&nbsp;<br /><br />Bằng
  cách truy cập vào Website và Ứng Dụng hoặc đăng ký là thành viên, Bạn đồng ý
  với Chúng Tôi về các điều khoản của Chính Sách Thông Tin Cá Nhân này. Vui lòng
  đọc kỹ Chính Sách Bảo Vệ Thông Tin Cá Nhân này. Hoạt động kinh doanh của Chúng
  Tôi không ngừng phát triển, các Chính Sách Bảo Vệ Thông Tin Cá Nhân, Website,
  Ứng Dụng và Điều Khoản Sử Dụng của Chúng Tôi cũng có thể được cập nhật. Việc
  Bạn tiếp tục sử dụng sản phẩm, dịch vụ của Chúng Tôi được hiểu là Bạn đã chấp
  nhận bản Chính Sách Bảo Vệ Thông Tin Cá Nhân được cập nhật. Trừ khi có quy
  định khác, Chính Sách Bảo Vệ Thông Tin Cá Nhân hiện tại của Chúng Tôi áp dụng
  cho tất cả thông tin mà Chúng Tôi có về Bạn và tài khoản của Bạn, bao gồm
  nhưng không giới hạn thông tin cá nhân của bạn, và hoặc bất cứ thông tin, dữ
  liệu nào từ bạn mà chúng tôi có thể có được thông qua Website và Ứng Dụng.
  Việc Bạn truy cập Website và Ứng Dụng của Chúng Tôi và mọi tranh chấp về quyền
  riêng tư đều tuân theo Chính Sách Bảo Vệ Thông Tin Cá Nhân này và Điều Khoản
  Sử Dụng của Website và Ứng Dụng.<br /><br /><strong
    >2. Mục đích thu thập thông tin cá nhân</strong
  ><br />Chúng Tôi sử dụng thông tin về khách hàng cho các mục đích cụ thể mà
  thông tin được thu thập. Chúng Tôi có thể sử dụng thông tin cá nhân của Bạn
  cho, bao gồm nhưng không giới hạn, các mục đích sau:<br />2.1. &nbsp;&nbsp;
  &nbsp;Để tạo và quản lý tài khoản trực tuyến của Bạn.<br />2.2. &nbsp;&nbsp;
  &nbsp;Để thực hiện việc mua, đổi, trả hàng của Bạn, trực tuyến hoặc tại một
  trong các cửa hàng bán lẻ của Chúng Tôi.<br />2.3. &nbsp;&nbsp; &nbsp;Để tạo
  điều kiện cho Bạn tham gia vào các cuộc thi hoặc chương trình khuyến
  mại.&nbsp;<br />2.4.&nbsp;&nbsp; &nbsp;Để xử lý việc giao hàng đến cho Bạn, và
  việc nhận lại hàng trong trường hợp bạn đổi hoặc trả.<br />2.5. &nbsp;&nbsp;
  &nbsp;Để xử lý việc nhận thanh toán từ và việc hoàn trả lại tiền đến Bạn.<br />2.6.
  &nbsp;&nbsp; &nbsp;Để cung cấp cho Bạn thông tin về các sản phẩm hoặc dịch vụ
  mà Bạn yêu cầu từ Chúng Tôi hoặc, theo sự đồng ý trước của Bạn, thông tin mà
  Chúng Tôi cảm thấy Bạn có thể quan tâm, qua email hoặc tin nhắn văn bản.<br />2.7.
  &nbsp;&nbsp; &nbsp;Để vận hành, đánh giá và cải thiện hoạt động kinh doanh của
  Chúng Tôi (bao gồm phát triển các sản phẩm và dịch vụ mới; phân tích và nâng
  cao các sản phẩm, dịch vụ, Website và Ứng Dụng của Chúng Tôi).<br />2.8.
  &nbsp;&nbsp; &nbsp;Để hiểu khách hàng của Chúng Tôi, thực hiện phân tích dữ
  liệu, và xử lý khác (bao gồm nghiên cứu thị trường và người tiêu dùng, phân
  tích xu hướng, và việc ẩn danh).<br />2.9. &nbsp;&nbsp; &nbsp;Để trả lời nhận
  xét hoặc câu hỏi của Bạn, hoặc tiếp nhận hồ sơ ứng tuyển (nếu có).<br />2.10.
  &nbsp;&nbsp; &nbsp;Để chuyển, chia sẻ các nhận xét về hàng hóa trên Website và
  Ứng Dụng đến đơn vị liên kết của chúng tôi nhằm cân nhắc thể hiện trên website
  của họ, không bao gồm việc chuyển, chia sẻ thông tin định danh của bạn.<br />2.11.
  &nbsp;&nbsp; &nbsp;Theo yêu cầu khác hoặc được pháp luật cho phép.<br /><br /><strong
    >3. Phạm vi sử dụng thông tin cá nhân</strong
  ><br />Thông tin cá nhân được thu thập theo sự đồng ý rõ ràng của Bạn sẽ chỉ
  được sử dụng cho các hoạt động được nêu tại Chính Sách Bảo Vệ Thông Tin Cá
  Nhân này, ngoại trừ các trường hợp (i) một thỏa thuận riêng giữa Chúng Tôi và
  Bạn về việc sử dụng thông tin cá nhân cho các mục đích và phạm vi khác ngoài
  các mục đích và phạm vi được quy định rõ ràng ở đây, hoặc (ii) Chúng Tôi cung
  cấp các sản phẩm hoặc dịch vụ theo yêu cầu của Bạn, hoặc (iii) Chúng Tôi thực
  hiện nghĩa vụ của mình theo luật pháp và quy định hiện hành.<br /><br /><strong
    >4. Thông tin cá nhân được tiếp nhận</strong
  ><br />Dưới đây là các loại thông tin Chúng Tôi tiếp nhận:<br />4.1. Thông tin
  tự động<br />Đối với mỗi khách hàng truy cập vào Website và Ứng Dụng của Chúng
  Tôi, máy chủ của Chúng Tôi tự động nhận dạng thông tin liên quan đến tên miền
  của khách hàng (hoặc nhà cung cấp quyền truy cập của khách truy cập) chứ không
  phải địa chỉ email. Chúng Tôi cũng có thể tự động thu thập thông tin cá nhân
  khác như loại trình duyệt Bạn đang sử dụng, địa chỉ website mà Bạn truy cập đã
  điều hướng đến trang của Chúng Tôi, hệ điều hành Bạn đang sử dụng, tên miền
  của nhà cung cấp dịch vụ Internet, các trang Bạn truy cập trên Website của
  Chúng Tôi và thời gian truy cập của Bạn.<br /><br />4.2. Thông tin Bạn cung
  cấp cho Chúng Tôi<br />Chúng Tôi cũng tiếp nhận và tổng hợp thông tin do Khách
  Hàng tự nguyện cung cấp, ví dụ như khi Bạn giao tiếp điện tử với Chúng Tôi.<br />&nbsp;<br />4.3.
  Cookies<br />Chúng Tôi có thể sử dụng cookies và web beacon (còn được gọi là
  web bug, thẻ pixel hoặc ảnh GIF nhìn rõ) để quản lý Website, Ứng Dụng và các
  tác vụ email. Cookies là một tệp nhỏ được lưu trên máy tính của Bạn khi Bạn
  truy cập một website hoặc ứng dụng. Mục đích của nó là quản lý trải nghiệm
  website và ứng dụng của Bạn và cho phép tùy chỉnh các website và ứng dụng được
  hiển thị cho Bạn khi Bạn quay lại trang đó. Web beacon là các đoạn mã máy tính
  nhỏ cho phép chủ sở hữu Website theo dõi hành động của người dùng trên Website
  và người nhận thư điện tử. Cookies và web beacon giúp Chúng Tôi hiểu cách
  người tiêu dùng sử dụng Website và Ứng Dụng và email để Chúng Tôi có thể thiết
  kế các dịch vụ tốt hơn trong tương lai. Chúng Tôi có thể sử dụng cookies và
  web beacon để đo lường hiệu quả của các sáng kiến quảng cáo trực tuyến của
  Chúng Tôi và xác định mối tương quan giữa khách hàng của Chúng Tôi và các
  website trực tuyến mà họ truy cập. Các công ty quảng cáo của bên thứ ba cũng
  có thể sử dụng cookies và web beacon để thu thập thông tin về các lượt truy
  cập của Bạn vào Website và Ứng Dụng của Chúng Tôi và các website khác (chẳng
  hạn như các website Bạn truy cập và liệu Bạn có nhấp vào quảng cáo hay không)
  để phân phối quảng cáo phù hợp hơn với Bạn, trên và ngoài Website và Ứng Dụng
  của Chúng Tôi.</span
>


    <p class="text-muted mt-4"><small>Last updated: @DateTime.Now.ToString("MMMM yyyy")</small></p>
</div>
